<div class="container">
    <form [formGroup]="loginForm" class="form__container">
        <div class="title">Вход</div>
        <div class="form__inputs">
            <div class="input_block">
                <input formControlName="login" type="login" type="text"  placeholder="Логин" class="input">
                <div class="error">Неверный логин</div>
            </div> 
            <div class="input_block">
                <input formControlName="password" type="password" type="text"  placeholder="Пароль" class="input">
                <div class="error">Неверный пароль</div>    
            </div>
        </div>
        <div class="form__send_data">
            <button class="send_data">
                Войти
            </button>
        </div>
    </form>
</div>
