<div class="profile_container" (click)="toggle()">
    <div class="profile"></div>
    <div class="profile__menu" [ngClass]="{invisible: visibility}">
        <div class="name__img">
            <div class="profile__img"></div>
            <div class="name">Иванов Иван</div>
        </div>
        <div class="profile__menu__items">
            <div class="profile__menu__item">Профиль</div>
            <div class="profile__menu__item">Заметки</div>
            <div class="profile__menu__item">Настройки</div>
        </div>
        <div class="logout" (click)="submitLogout()">Выход</div>
    </div>
</div>

<!-- [ngClass]="{invisible: visibility}" -->
