<div class="burger__wrapper">
    <div class="burger">
        <div class="burger__lines" (click)="toogleNavbar()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <!-- [ngClass]="{burger__hidden: hidden}" -->
        <div 
            [ngStyle]="{display: BurgerShow}" 
            class="burger__container animate__animated animate__animate__fadeInLeft">
            <div class="burger__logo">
                <app-logo></app-logo>
            </div>
            <div class="burger__items">
                <div class="burger_item">
                    <a>Каталоги</a>
                </div>
                <div class="burger_item">
                    <a>Профиль</a>
                </div>
                <div class="burger_item">
                    <a>Мои авто</a>
                </div>
                <div class="burger_item">
                    <a>Избранное</a>
                </div>
                <div class="burger_item">
                    <a>Мессенджер</a>
                </div>
                <div class="burger_item">
                    <a>Тех. поддержка</a>
                </div>
                <div class="burger_item">
                    <a>O нас</a>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{burger__blur: blur}">
    </div>
</div>